
* {
background-color: rgb(244, 246, 248);
box-sizing: border-box;
}


img il{
    display: inline-block;
    padding: 20 px;
    margin: 20 px;

}


nav ul {
    background-color: #ddd;
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

section img{
   position: static;
   width: 100%;
   margin: 25px auto;
}



nav ul {
    position: relative;
}

nav ul li {
    display: inline-block;
    padding: 20px;
    margin: 20px;
}

#left-colomn{
    width: 25%;
    display: inline-block;
    
}

#rigt-colomn ,p,h1 {
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Display', cursive; 
    font-size:40px;
    margin-left:20% ;
    nav-up: auto;
}

/*h1{
    font-weight: bold;
    font-family: 'Big Shoulders Stencil Display', cursive; 
    float: right;
    font-size:40px;
    nav-up:inherit;
}*/

button{
    padding: 350mc; 
    background-color: rgb(15, 15, 15);
    color: white; 
   margin: right 50px;
    
}

footer {
    clear:both;
    background-color: #ddd;
    width: 100%;
    height: 90px;
   margin-bottom: 100%;
}